[*.{kt,kts}]
ktlint_code_style = android_studio
end_of_line = lf
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_imports_layout = *
ij_kotlin_packages_to_use_import_on_demand = java.util.*,kotlinx.android.synthetic.**
indent_size = 4
indent_style = space
insert_final_newline = true
ktlint_chain_method_rule_force_multiline_when_chain_operator_count_greater_or_equal_than = unset
ktlint_class_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = unset
ktlint_code_style = android_studio
ktlint_function_naming_ignore_when_annotated_with = [unset]
ktlint_function_signature_body_expression_wrapping = default
ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = unset
ktlint_ignore_back_ticked_identifier = false
max_line_length = off
ktlint_function_naming_ignore_when_annotated_with=Composable
compose_allowed_state_holder_names = .*ViewModel,.*Presenter,.*Component

# Disable strict ktlint rules that fail on existing codebase / merge-commit full scan
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_no-unused-imports = disabled
ktlint_standard_no-consecutive-blank-lines = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_backing-property-naming = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_condition-wrapping = disabled
ktlint_standard_chain-wrapping = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_no-multi-spaces = disabled

[app/build/**/*]
ktlint = disabled
